*
body
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color: #f4f4f4;
    display: grid;
    height: 100%;
    width: 1340px;
    background-color: goldenrod;
}

.lamborghini-Galeria
{
    grid-column: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}


.image-contenedor
{
    flex: 1 1 calc(33.333% - 16px);
    position: relative;
    margin-bottom: 50px;
    width: 200%;
    height: auto;
}

.image-contenedor img
{
    max-width: 300%;
    height: auto;
    display: block;
    align-items:center;
    width: 80%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 5px #000;
}

.image-contenedor img:hover
{
    transform: scale(1.1);
    cursor:  pointer;
}

.image-contenedor p
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.galeria
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    padding: 16px;
    background-color: #fff;
    height: 500px;
    margin:0 auto;
    background-color: goldenrod;
    text-align: justify;
}

.figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

.figcaption {
    display: block;
    unicode-bidi: isolate;
    text-align: justify;
}


/*responsive desing*/

@media (max-width: 800px) 
{ 
    .galeria 
    { 
        flex-wrap: wrap; 
        display: flex; } 

.image-contenedor { flex: 1 1 calc(50% - 16px); } } @media (max-width: 600px) { .image-contenedor { flex: 1 1 100%; } }